@{
    ViewData["Title"] = "Home Page";
}
@section head{
  <link href="/scripts/static/css/main.b01b3ba7.css" rel="stylesheet" />
  <script src="/scripts/static/js/main.4f6225f8.js" defer="defer"></script>
 
}

<div id="root"></div>
