<p>wizard works! Hey D</p>

<mat-card fxLayoutAlign="center center">
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="form1" [editable]="true" class="register-form">
      <div [formGroup]="form1">
        <mat-form-field appearance="legacy">
          <mat-label>Full Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Enter your full name"
            formControlName="prop1"
            [ngClass]="{ 'is-invalid': '' }"
          />
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Enter your username"
            type="text"
            formControlName="prop2"
            class="form-control"
            [ngClass]="{ 'is-invalid': '' }"
          />
        </mat-form-field>
      </div>
    </mat-step>
    <mat-step [stepControl]="form2" [editable]="true">
      <div [formGroup]="form2">
        <mat-form-field appearance="legacy">
          <mat-label>Full Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Enter your full name"
            formControlName="prop1"
            [ngClass]="{ 'is-invalid': '' }"
          />
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Enter your username"
            type="text"
            formControlName="prop2"
            class="form-control"
            [ngClass]="{ 'is-invalid': '' }"
          />
        </mat-form-field>
      </div>
    </mat-step>
    <mat-step [stepControl]="form3"  [editable]="true">
      <div [formGroup]="form1">
      <mat-form-field appearance="legacy">
        <mat-label>Full Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter your full name"
          formControlName="prop1"
          [ngClass]="{ 'is-invalid': '' }"
        />
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Enter your username"
          type="text"
          formControlName="prop2"
          class="form-control"
          [ngClass]="{ 'is-invalid': '' }"
        />
      </mat-form-field>
      </div>
    </mat-step>
  </mat-stepper>

</mat-card>
<mat-card><mat-card-title>debug</mat-card-title>
    <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>{{ form1.value | json }}</mat-grid-tile>
    <mat-grid-tile>{{ form2.value | json }}</mat-grid-tile>
    <mat-grid-tile>{{ form3.value | json }}</mat-grid-tile>
    <mat-grid-tile>nada</mat-grid-tile>
  </mat-grid-list>
  </mat-card>

