<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - reactmvc</title>

    <link href="/scripts/dist/main.b01b3ba7.css" rel="stylesheet" />
</head>

<body>
    <header>
        mvc
    </header>

    <div id="root"></div>
    @RenderBody()
    <script defer="defer" src="/scripts/dist/main.013ca343.js"></script>

</body>

</html>
